<head>
  <meta charset="utf-8">
  <title>
    {% if page.title == "Home" %}
      {{ site.title }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans" rel="stylesheet">
  <link rel="stylesheet" href="{{ site.url | append: '/css/Main.css' }}">
</head>
